{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h4><a href="search/"><input type="button" value="Искать пост"/></a></h4>
    <h3>Количество постов: {{ total_post }}</h3>
    {% if newslist %}
        <table>
            {% for newlist in newslist %}
            <tr>
                <td>
                    <a href="{{ newlist.pk }}">
                    <b>{{ newlist.namePost|censor }}</b></a>
                </td>
                <td>
                    {{ newlist.dataPost|date:'d.M.y' }}
                </td>
                {% if perms.news.change_post or perms.news.delete_post %}
                <td rowspan="2">
                    {% if newlist.typePost == 'N' %}
                        <a href="{% url 'news_update' newlist.id %}">Изменить новость</a>
                        <br>
                        <a href="{% url 'news_delete' newlist.id %}">Удалить</a>
                    {% else %}
                        <a href="{% url 'article_update' newlist.id %}">Изменить статью</a>
                        <br>
                        <a href="{% url 'article_delete' newlist.id %}">Удалить</a>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            <tr>
                <td>
                    {{ newlist.textPost|truncatewords:20|censor }}
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Постов нет :(</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
            {% if page_obj.previous_page_number != 1 %}
                ...
                <a href="?{% url_replace page=page_obj.previous_page_number %}">{{page_obj.previous_page_number}}}</a>
            {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{page_obj.next_page_number}}</a>
        {% if page_obj.next_page_number != paginator.num_pages %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{page_obj.paginator.num_pages}}</a>
        {% endif %}
    {% endif %}
{% endblock content %}